body{
  background-color: rgb(65, 63, 63);
  background-size: cover;
  
}

  .navbar{
    background:rgb(102, 36, 36);
    opacity: .75;
    
    width:100%;
}

.editauthor{
    margin-top: 100px;
    width: 750px;
    background: rgba(75, 8, 8, 0.8);
    color: white;
}
  
  .card
  {
      
        width: 700px;
    height:550px;
      margin-top: 100px;
      background: black;
      opacity: .75;
      color: white;
  
  
  }



  footer{
  
    color: rgb(3, 1, 1);
    background: rgb(32, 31, 31);
    opacity:.75 !important;
    
  }

a{
    color: white;
    text-decoration: none !important;
}

a:hover{
    color: white;
}
